body {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 550%;
    font-family: "Sacramento", cursive;
    margin-bottom: 0px;
    color: #66bfbf;
}

h2 {
    font-size: 175%;
    font-family: "Merienda", cursive;
    margin-top: 20px auto;
    font-weight: normal;
    color: #66bfbf;
}

h3 {
    color: #11999e;
    font-family: "Merienda", cursive;
}

hr {
    border: dotted #5f7161 6px;
    border-bottom: none;
    width: 5%;
    margin: 75px auto;
}

.middle-container {
    margin: 50px auto;
}

p {
    color: #40514e;
    font-family: "Merienda", cursive;
}

a {
    margin: auto 20px;
    text-decoration: none;
}

a:hover {
    color: white;
}

.first {
    background-color: #eaf6f6;
    position: relative;
    padding-top: 100px;
}

.span {
    text-decoration: underline;
    display: inline-block;
}

.cloud1 {
    position: absolute;
    left: 285px;
    bottom: 300px;
}

.cloud2 {
    position: absolute;
    right: 250px;
    top: 70px;
}

.mountain {
    position: relative;
}

.myImage {
    width: 10%;
}

.coder {
    width: 25%;
    float: left;
    padding-right: 25px;
}

.web {
    width: 25%;
    border-radius: 25%;
    float: right;
}

.skill-row {
    width: 50%;
    margin: 75px auto 100px auto;
    text-align: left;
    line-height: 1.5;
}

.aboutMe {
    margin: 20px auto 40px auto;
    width: 25%;
}

.bottom-container {
    background-color: #66bfbf;
    padding: 30px;
    margin-top: 75px;
}

.res {
    color: #eaf6f6;
    font-size: small;
    margin-top: 30px;
}

.GIT {
    width: 25%;
    margin: 20px auto 40px auto;
}

.btn {
    background: #66bfbf;
    background-image: -webkit-linear-gradient(top, #66bfbf, #069a8e);
    background-image: -moz-linear-gradient(top, #66bfbf, #069a8e);
    background-image: -ms-linear-gradient(top, #66bfbf, #069a8e);
    background-image: -o-linear-gradient(top, #66bfbf, #069a8e);
    background-image: linear-gradient(to bottom, #66bfbf, #069a8e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: "Merienda", cursive;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
